*{
    padding: 0%;
    margin: 0%;
}
h1 {
    font-size: 2vw;
    padding-top: 20px;
    color: black;
    text-align: center;
    margin-left: 220px;
}
@media screen and (min-width:700px) and (max-width:1000px)
{
body {
    background-color: lightblue;
    box-sizing: border-box;
}
}
.overall {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-left:36%;
    margin-bottom: 20px;
    margin-right:36%;
    padding:3% 3% 3% 3%;
}
 img{

    width: 2vw;
    float: right;
    padding-top:10px ;

}
.admin_login a{
    margin-right: 20px;
    margin-left: 5px;
    float: right;
    margin-top: 15px;
   color: #0645AD;

}
label{
    font-size: 1vw;
    color: #2F4F4F;
}
input {
margin: 10px auto 20px;
  width: 100%;
  border-radius: 5px;
  padding: 0.8vw 0.8vw;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
a{
    font-size: 1vw;
    text-decoration: none;
    color: white;
}


.submit {
    font-size: 1vw; ;
    border-radius: 5px; 
    background-color: #04AA6D;
    color: white;
    padding: 1vw 1vw;
    margin-top: 15px;
    border: none;
    width: 100%;
}

/*  Progressbar  */
#Progress_Status {
    margin-left:500px ;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 25%;
    background-color: #ddd;
    }
    #myprogressBar h4{
        margin-left: 130px;
        text-align: center;
       
    }
    
    #myprogressBar {
       
    width: 1%;
    height: 20px;
    background-color: #4CAF50;
    color: black;
    }