*{
margin:0px;
}
table {
    margin-left: 145px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px solid;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
  }
.viewBar {
    margin-left: 70px;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
}
td{
    border: 1px solid #ccc;
    padding: 10px;
}
th{
    border: 1px solid #ccc;
    color: white;
    background-color: #A9A9A9;
    padding:15px;
}

h2 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color:#007790 ;
    border-radius: 5px;
    padding: 7px;
}.navbar {
    margin-top:5px;
    margin-bottom: 5px;
    align-items: center;
    display: inline-block;
    background-color: rgb(0,119,144);
   color: #f5f5f5;
    text-align:center;
    padding: 7px 62px;
    text-decoration: none;
    list-style-type: none;
}
img{
    display: inline;
   margin-left: 30px;
    width:250px;
    padding-top: 10px;
    padding-bottom: 15px;
}.footerpage{
    background-color: #808080;
    height: 80px;
    margin-top:100px;
}
.footerpage .social em{
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 2px rgba(255,255,255,0.4);
    margin-left: 20px;
    color:#fff;
}
.item{
    margin-left: 515px;
    padding-top: 10px; 
}
p{
    margin-top: 11px;
    text-align: center;
    color: #f2f2f2;
}
/*----------------tooltip------------------------- */
.tooltip {
    position: relative;
    display: inline-block;
      }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } 