*{
margin:0px;
}
.menubar li{
    margin-left: 180px;
    color: white;
    float: left;
    display: block;
    list-style-type: none;
    padding: 20px 35px;
    }
    img{
       margin-left: 30px;
        width:250px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .menubar{
        background-color: #F58634;
        color: white;
        text-decoration:none;
        width: 100%;
        height: 60px;
    }

table {
    margin-left: 90px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px solid;
}

tr:nth-child(even) {
    background-color: #FFF8DC;
  }
.viewBar {
    margin-left: 70px;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
}
td{
    border: 1px solid #ccc;
    padding: 10px;
}
th{
    border: 1px solid #ccc;
    color: white;
    background-color: #F4A460;
    padding:15px;
}

h2 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
button{
    background-color:#F58634;
    border: none;
    border-radius: 5px;
    padding: 7px;
}
img{
    display: inline;
   margin-left: 30px;
    width:250px;
    padding-top: 10px;
    padding-bottom: 5px;
}