table {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
}
input {
    margin: 10px auto 20px;
      width: 100%;
      border-radius: 5px;
      padding: 12px 20px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    .printbutton {
        text-align: center;
        box-sizing: border-box;
        border-radius: 5px; 
        color: white;
        border: none;
    }
    button{
        border-radius: 5px; 
        background-color: #04AA6D;
        color: white;
        padding: 10px 10px;
        margin-top: 15px;
        border: none;
        width: 30%;
       
    }
.donebutton {
    text-align: center;
    border-radius: 5px; 
    color: white;
    border: none;
}

.editpage {
    margin-left: 2%;
    margin-top: 2%;
}