.submitbutton {
    opacity: 0.5;
}

.submitbutton:hover {
    opacity: 1.0;
}

table {
    width: 850px;
    height: 580px;
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    border-style: solid;
}

.submitbutton {
    margin-top: 1%;
    margin-bottom: 2%;
    text-align: center;
}

.editpage {
    box-shadow: 1px;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 1px solid;
    border: 1px;
}