.navbar {
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    padding: 40px;
    text-decoration: none;
}

h3 {
    text-align: center;
    padding: 2%;
}

body {
    background-color: rgb(221, 217, 192);
}

#searchBox {
    border-radius: 10px;
    padding: 0.5%;
    text-align: center;
    box-shadow: 5px;
    margin-left: 10%;
    color: lightcoral;
}

.searchBar {
    background-color: #f1f1c1;
    margin: auto;
    margin-top: 40px;
    width: 80%;
    border: 5px solid #73AD21;
    padding: 40px;
}

* {
    margin: 0px;
}
td{
    padding: 6px;
}

th {
    padding: 8px;
}

table {
    margin-top: 3%;
    border-radius: 1px solid;
    border: 1px;
}