.container{
    background-image: url(image/e.jpg);
border: 1px solid;
margin-left: 5%;
margin-right: 5%;
text-align: left;
box-shadow: 0 0 5px 1px ;
padding: 2%;
}
body{
    background-image: url(image/c.jpg);
}
.overall{
    
    margin-top: 8%;
    border: 1px solid;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 5px 1px ;
    text-align: center;
 }
    