.navbar{
    background-color: rgb(0,119,144);
   color: whitesmoke;
    text-align: center;
    padding:40px;
    text-decoration: none;
}
*{
margin:0px;
}
table {
    display:block ;
    margin:auto 8%;
    border-collapse: collapse;
    border-color: #696969;
    border-radius: 5px solid;
    border: 1px;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
  }
.searchBar {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
}
td{
    padding:15px;
}
th{
    color: white;
    background-color: #A9A9A9;
    padding:15px;
}

h2 {
    padding: 10px;
    text-align: center;
}