
*{
margin:0px;
}
.navbar{
    display: inline-block;
    background-color: rgb(0,119,144);
   color: whitesmoke;
    text-align:center;
    padding: 9px 44.2px;
    text-decoration: none;
    list-style-type: none;
}
img{
    display: inline;
   margin-left: 30px;
    width:250px;
    padding-top: 10px;
    padding-bottom: 5px;
}
table {

    margin:auto 8% 5px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 5px solid;
}

tr:nth-child(even) {
    background-color: #F2F2F2;
  }
.viewBar {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    padding: 10px;
}
td{
    border: 1px solid #ccc;
    padding:15px;
}
th{
    border: 1px solid #ccc;
    color: white;
    background-color: #A9A9A9;
    padding:15px;
}

h2 {
    padding: 20px;
    text-align: center;
}